<?xml version="1.0" encoding="utf-8"?><!--
 Copyright (C) 2015 Garmin International Ltd.
 Subject to Garmin SDK License Agreement and Wearables Application Developer Agreement.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.garmin.android.apps.camera.click.comm"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- Required permissions for ConnectIQ SDK -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
        </intent>
        <package android:name="com.google.android.GoogleCamera" />
        <package android:name="com.android.camera" />
        <package android:name="com.google.android.apps.camera" />
    </queries>

    <uses-permission android:name="android.hardware.camera" android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.DeviceActivity" />

        <service
            android:name=".service.MessageService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".CameraAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>
